<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Catalog Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
      </div>
      <div class="content">
        <div class="products">
          <div class="row no-gutters">
            <div id = "items" class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a [routerLink]="['/product-page']">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a [routerLink]="['/product-page']">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a [routerLink]="['/product-page']">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a [routerLink]="['/product-page']">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a [routerLink]="['/product-page']">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="clean-product-item">
                <div class="image"><a [routerLink]="['/product-page']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a><a href="#"></a></div>
                <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                <div class="about">
                  <div class="price">
                    <h3>$100</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav>
            <ul id="pagination" class="pagination">
                                              <li id="pagePrev" class="page-item disabled"><a class="page-link" aria-label="Previous">«</a></li>
                                              <li class="page-item active"><a class="page-link" >1</a></li>
                                              <li class="page-item"><a class="page-link" >2</a></li>
                                              <li class="page-item"><a class="page-link" >3</a></li>
                                              <li id = "pageNext" class="page-item"><a class="page-link"  aria-label="Next">»</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
