<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Catalog Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="content">
        <div class="spinner-border text-primary" style="width: 12rem; height: 12rem; margin: 5rem 40%" role="status" *ngIf="!isLoaded">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="products" *ngIf="isLoaded">
          <div class="no-data" *ngIf="response.data.length === 0">
            <h5>You don't have any product</h5>
          </div>
          <div class="row no-gutters">

            <div class="col-12 col-md-6 col-lg-4" *ngFor="let data of response.data">
              <div class="clean-product-item">
                <div class="image">
                  <a [routerLink]="['/product-page', data.id]">
                    <img class="img-fluid d-block mx-auto"
                         [src]="data.imagePath + data.image">
                  </a>
                </div>
                <h6 class="product-name"><a [routerLink]="['/product-page', data.id]">{{data.title}}</a></h6>
                <div class="about">
                  <div class="price">
                    <h3>${{data.price}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav *ngIf="response.count > perPage">
            <ul id="pagination" class="pagination">
              <li id="pagePrev" class="page-item" [ngClass]="page <= 1 ? 'disabled' : ''" (click)="getPreviousPage()"><a class="page-link" aria-label="Previous">«</a></li>
              <li class="page-item" *ngFor="let i of counter(totalPages+1)" [ngClass]="page == i ? 'active' : ''" (click)="getProductPage(i)"><a class="page-link">{{i}}</a></li>
              <li id="pageNext" class="page-item" [ngClass]="page >= totalPages ? 'disabled' : ''" (click)="getNextPage()"><a class="page-link" aria-label="Next">»</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
